body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end reset*/

h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
.app {
  margin: 50px;
  font: 14px sans-serif;
}
.ib {
  display: inline-block;
}
.page {
  width: 80%;
}
.user {
  width: 20%;
  vertical-align: top;
}

button {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #a05cce;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.2s ease-out;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: #c68cd1;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  margin: auto;
  max-width: 900px;
  gap: 10px;
  text-align: left;
}
.wrap {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}
.wrap img {
  min-width: 100%;
  min-height: 100%;
  &:hover {
    filter: brightness(-0.3);
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.modal {
  display: flex;
  bottom: auto;
  right: auto;
  position: absolute;
  top: 40px;
  height: 90vh;
  width: auto;
  left: calc(50% - 20px);
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  img {
    margin: auto;
    height: 100%;
    border-radius: 4px;
  }
  button {
    padding: 0 10px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba($color: black, $alpha: 0.4);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
body {
  color: #664f66;
}
.btn-block {
  h2 {
    margin: 50px 0 20px;
    font-weight: 700;
    font-size: 110%;
  }
  button {
    padding: 0 20px;
  }
}

.photos-info {
  padding: 35px 0;
  text-align: left;
  margin: auto;
  max-width: 850px;
}

.like-count {
  padding: 7px;
  font-weight: 700;
  font-size: 80%;
  color: #664f66;
  svg {
    margin-left: 7px;
  }
  path {
    fill: #664f66;
  }
}
